@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;

    img {
      height: 50px;
      aspect-ratio: auto 190 / 50;
      width: 190px;
    }

    h3 {
     
      color: green;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 500;
    }

    p {
      
      color: #7b7b7b;
    }
  }
}
